pandas
numpy
scikit-learn
joblib

matplotlib
seaborn
jupyter


fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
pydantic-settings
python-dotenv
python-jose[cryptography]
bcrypt
email-validator
python-multipart
